{% extends 'base.html' %}

{% block title %}SUPERUSER{% endblock title %}

{% block content %}
<h2 class="titlex">About</h2>
<p>SidiBouSaid club is a Hotel Management System created by Aya Chaieb / Zouhour hannachi / Aya Jouini <br><hr>
<h3 class="titlex">Contact</h3>
<p>Mail: <a href="mailto:eyachaieb26@yahoo.fr" class="linky">eyachaieb26@yahoo.fr</a>
<p>Mail: <a href="mailto:zouhourhannachi2@gmail.com" class="linky">zouhourhannachi2@gmail.com</a>
<p>Mail: <a href="mailto:eyaajouinii@gmail.com" class="linky">eyaajouinii@gmail.com</a>



    {% endblock content %}